@font-face {
    font-family: font;
    src: url(GochiHand-Regular.ttf);
}

@keyframes ledPulse {
    from {
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

@keyframes snapperClick {
    from{
        box-shadow: 0px 0.4vh 0px rgba(0,0,0,.4);
    }
    to{
        box-shadow: 0px 0vh 0px rgba(0,0,0,.4);
    }
}

@keyframes flash {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
}

@keyframes print {
    from{
    }
    to{
        margin-right: 100vh;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -10px) rotate(-1deg); }
    20% { transform: translate(-3px, 10px) rotate(1deg); }
    30% { transform: translate(3px, 21px) rotate(0deg); }
    40% { transform: translate(1px, -11px) rotate(1deg); }
    50% { transform: translate(-1px, 21px) rotate(-1deg); }
    60% { transform: translate(-3px, 11px) rotate(0deg); }
    70% { transform: translate(3px, 11px) rotate(-1deg); }
    80% { transform: translate(-1px, -11px) rotate(1deg); }
    90% { transform: translate(1px, 12px) rotate(0deg); }
    100% { transform: translate(1px, -21px) rotate(-1deg); }
}

@keyframes develop {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

html, body
{
    margin:0;
    padding:0;
    background-color:#333;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.camera-body
{
    background-color: lavender;
    height: 50vh;
    width: 50vh;
    margin-top: 25vh;
    border-radius: 10vh;
    position: absolute;
    z-index: 9;
    box-shadow: 0.6vh 0.6vh 1.5vh 0.5vh rgb(12, 12, 12) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.camera-tealStripe
{
    width: 100%;
    height: 15vh;
    background-color: rgb(5, 173, 173);
    position: relative;
    margin-top: 16vh;
    border-top: 2vh solid teal;
    border-bottom: 2vh solid teal;
}

.orange-circle
{
    height: 25vh;
    width: 25vh;
    background-color: rgb(165, 61, 42);
    position: absolute;
    margin-left: 12vh;
    margin-top: -5vh;
    border-radius: 50%;
    box-shadow: 0.6vh 0.6vh 1.5vh 0.5vh rgb(87, 87, 87) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orange-circle-black
{
    height: 20vh;
    width: 20vh;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    margin-top: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orange-circle-black-darkGrey
{
    height: 14vh;
    width: 14vh;
    background-color: rgb(61, 61, 61);
    position: absolute;
    border-radius: 50%;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orange-circle-black-darkGrey-darker
{
    height: 8vh;
    width: 8vh;
    background-color: rgb(29, 29, 29);
    position: absolute;
    border-radius: 50%;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orange-circle-black-darkGrey-darker-black
{
    height: 4vh;
    width: 4vh;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orange-circle-black-darkGrey-darker-black-pin
{
    height: 1vh;
    width: 1vh;
    background-color: rgb(180, 180, 180);
    position: absolute;
    border-radius: 50%;
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.led
{
    height: 2vh;
    width: 2vh;
    background-color: rgb(255, 136, 115);
    position: absolute;
    border-radius: 50%;
    margin-top: 6vh;
    margin-right: 35vh;
    animation: ledPulse 0.6s infinite forwards reverse;
}

.snapper-button
{
    height: 5vh;
    width: 6vh;
    background-color: #2e3e4f;
    position: absolute;
    border-radius: 45%;
    margin-top: 4.5vh;
    margin-left: 35vh;
    box-shadow: 0px 0.4vh 0px rgba(0,0,0,.4);
    animation: snapperClick 0.6s 3 forwards reverse;
}

.snapper-button:hover
{
    cursor: pointer;
    margin-top: 4.8vh;
    box-shadow: 0px 0.2vh 0px rgba(0,0,0,.4) !important;
}

.polaroid-body
{
    background-color: rgb(233, 232, 232);
    height: 45vh;
    width: 40vh;
    position: absolute;
    margin-top: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.polaroid-picture
{
    height: 25vh;
    width: 35vh;
    margin-left: 2.5vh;
    margin-top: -10vh;
    background-color: black;
    box-shadow: 0.6vh 0.6vh 1.5vh 0.5vh rgb(87, 87, 87) inset !important;
}

.pic
{
    opacity: 0%;
}

.polaroid-body:hover {
    cursor: pointer;
    animation: shake 0.9s;
    animation-iteration-count: 2;
}

.polaroid-body:hover .pic {
    animation: develop 3s forwards;
}

.polaroid-text
{
    font-family: font;
    font-size: larger;
    color: black;
    text-align: center;
}

.span
{
    font-family: font;
    color: #1684f1;
    text-align: center;
    margin-top: 1.5vh;
    animation: ledPulse 0.6s 3 forwards reverse;
}